



body {
    background-color: #7fb9f4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}


.navbar.navbar-dark {
    background-color: #0d6efd;
    padding: 20px;
}


#welcome-text {
    font-size: 40px;
    color: #ffffff;
    margin-left: 50px;
    font-style: oblique;
    display: inline-block;
    position: relative;
}


@keyframes blink {
    0%, 50%, 100% { opacity: 1; }
    25%, 75% { opacity: 0; }
}


#home {
    margin-top: 120px; 
}


.name {
    margin: 50px auto;
    max-width: 400px;
    border: 3px solid #0d6efd;
    padding: 15px;
    background-color: #ffffff;
    color: #0d6efd;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    border-radius: 10px;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(12px); }
    100% { transform: translateY(0); }
}
.about{
    text-align: center;
}


.img img {
    max-width: 250px;
    border-radius: 50%;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    display: block;
    margin: auto;
}


h2 {
    text-align: center;
    padding: 10px;
    background: #212529a2;
    color: white;
    border-radius: 5px;
    max-width: fit-content;
    margin: 20px auto;
}


.projects .row {
    align-items: center;
    margin-top: 30px;
}

.project p {
    text-indent: 20px;
}

.img1 img {
    width: 100%;
    max-width: 300px;
    display: block;
    margin: auto;
    border-radius: 10px;
}
p{
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.custom-navbar {
    background-color: #1069ed !important;
    padding: 15px 20px;
}

.navbar-toggler {
    filter: brightness(0) invert(1);
}
#offcanvasNavbar {
    width: 200px; 
}



@media (max-width: 768px) {
    #welcome-text {
        font-size: 28px;
        margin-left: 20px;
    }
    .name {
        margin: 30px auto;
    }
}
